.card__info {
    height: 250px;
    width: auto;
    min-width: 300px;
    border: 1px solid rgba(0, 0, 255, 0.432);
    border-radius: 40px;
    padding: 20px 20px;
    background-image: url('../assets/blue_dot.png');
    background-size: cover;
    background-position: top right;
    box-shadow: 0 0 60px 0 rgba(3, 95, 175, .12);
}
.text {
    color: blue;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}